@charset "utf-8";
/* CSS Document */

peture1{
    position: absolute;
    left: 1250px;
    top: 700px;
    width: 41px;
    height: 40px;
}

peture2{
    position: absolute;
    left: 1320px;
    top: 700px;
    width: 47px;
    height: 40px;
}

peture3{
    position: absolute;
    left: 1390px;
    top: 700px;
    width: 47px;
    height: 40px;
}

peture4{
    position: absolute;
    left: 1460px;
    top: 700px;
    width: 42px;
    height: 40px;
}
