@charset "utf-8";
/* CSS Document */
p1_1{
	font-family:"Adobe 仿宋 Std R";
    font-size: 18px;
	color:#D1CED5;
	bottom: 10%;
	top:25%；
}

p1_2{
	font-family:"Adobe 仿宋 Std R";
    font-size: 18px;
	color:#D1CED5;
	bottom: 10%;
	top:25%；
}

p1_3{
	font-family:"Adobe 仿宋 Std R";
    font-size: 18px;
	color:#D1CED5;
	bottom: 10%;
	top:25%；
}

p1_4{
	font-family:"Adobe 仿宋 Std R";
    font-size: 18px;
	color:#D1CED5;
	bottom: 10%;
	top:25%；
}

p1_5{
	font-family:"Adobe 仿宋 Std R";
    font-size: 18px;
	color:#D1CED5;
	bottom: 10%;
	top:25%；
}
